@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap');
* {
  font-family: 'Poppins';
  box-sizing: content-box;
}
.head {
  max-width: 1125px;
  margin: 20px auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
} 
.logo {
  display: inline-block;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: inline;
  padding: 0px 29px 0px 320px; 
}
.nav {
  margin: 0;
  padding: 0;
  
}
.nav-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #2F281E;
  list-style: none;
  display: inline-block;
  margin: 0px 10px;
}
.buttons {
  display: inline-block;
}
.button-item {
  width: 102px;
  height: 46px;
  text-align: center;
  border: 1px solid #BCD0E5;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  color: #173A56;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-right: 14px;
  }
  .button-item:active {
    color: white;
    background-color: #FF9900;
    border: none;
  }
  .content {
    max-width: 1125px;
    margin: 30px auto;
  }
  .desc {
    display: inline-block;
    width: 518px;
    height: 331px;
    float:left;
    margin-top: 90px;
  }
  .heading {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
  }
  .desc-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    float: left;
  }
  .image {
    display: inline-block;
  }
  .desc-button {
    width: 175px;
    height: 53px;
    text-align: center;
    border-radius: 4px;
    border: none;
    background-color: white;
    color: #FF9900;
    text-decoration: underline;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
  }
  .desc-button:hover {
    background-color: #FF9900;
    color: white;
  }