@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
*{
  transition: all .1s ease-in;
  margin: 0;
  font-family: 'Roboto'
  
}
body {
  background-color: #3B3F45;;
}
.container {
  background-color: #4A4F56;
  margin: 0px auto 20px;
  padding: 20px 0 12px 0;
}
.header {
  text-align: center;
  color: #FF8984;
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 4px;
}
.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 10px 0 13px 0;
  color: #FFFFFF;
  background-color: #88839E;
}
.text-item {
  display: inline;
}
.text:nth-child(odd) {
  background-color: #7A7593;
}
.section {
  max-width: 534px;
  margin-left: auto; 
  margin-right: auto;
  background-color: #88839E;
}
.checklist {
  list-style: none;
  padding: 0;
} 
.check {
  display: inline;
  margin: 12px 12px;
  width: 19px;
  height: 19px;
}
.check:checked + .text-item {
  text-decoration: line-through;
}
.text:hover {
  background-color:#625E77;
  border: #FFFFFF;
  border-width: 3px 0;
  border-style: solid;
}
.text-item-one::after {
  content: ' (for the next lessons about CSS)';
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}
.text-item-two::after {
  content: ' (for more CSS manipulations)';
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}
.text-item-three::after {
  content: ' (because they are awesome)';
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}
.text-item-four::after {
  content: ' (hm... they always dissapear)';
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}
.text-item-five::after {
  content: ' (for my friends)';
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}
.footer {
  background-color: #4A4F56;
  max-width: 534px;
  margin: 45px auto;
  text-align: center;
  padding: 12px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FF8984;
}
